body {
	background-color: blue;
}
.button {
	margin: 2px;
	background-color: red;
	text-decoration-color: white;
}
#movie-form {
	margin: 10px;
	float: right;
}
p {
	font-family: Impact, sans-serif;
}
img {
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 2px 2px 5px black;
}